/* singleReq.css */

/* Style for the container of the SingleRequest component */
.single-request-container {
  padding: 20px;
  margin-bottom: 570px;
}

/* Style for the progress bar wrapper */
.progress-bar {
  margin-bottom: 20px;
}
.name-underline{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
/* Style for the progress bar */
.progress-bar-inner {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 30px;
  overflow: hidden;
}

/* Style for the progress bar steps */
.progress-step {
  flex: 1;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

/* Additional styling for the div */
.security-crc-container {
  margin-top: 10px;
}

/* Additional styling for the paragraphs */
.security-crc-container p {
  margin-bottom: 5px;
}

.single-request-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.approval-status {
  margin-bottom: 10px;
  font-size: 16px;
}

.checkmark, .cross {
  font-size: 20px;
  margin-left: 10px;
}

.checkmark {
  color: #4CAF50; /* Green color */
}

.cross {
  color: #f44336; /* Red color */
}

