.single-request-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom:400px ;
}

.approval-status {
  margin-bottom: 10px;
  font-size: 16px;
}

.checkmark,
.cross {
  font-size: 20px;
  margin-left: 10px;
}

.checkmark {
  color: #4caf50; /* Green color */
}

.cross {
  color: #f44336; /* Red color */
}

.status-bar {
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.text-status-bar {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom:10px ;
}


.status-bar-inner {
  height: 100%;
  background-color: #007bff;
}


.centered-box {
  display: flex;
  justify-content: center;
}

.security-crc-container {
  margin-top: 10px;
}

.security-crc-container p {
  margin-bottom: 5px;
}
